
/*Supprimer toutes les bordures*/
.card {
    border: none;
}

body {
    font-family: fantasy;
}

/*.....Identité.....*/
#petite_nav >ul > li {
    display: inline-block;
    list-style-type: none;
    border-bottom: 1px solid #1e78a2;
}
a {
    color: white;
}
a:hover {
    color: #1e78a2;
}
/*.....Fontawesome.....*/
.fas, .far, .fab {
    color: #1e78a2;
    font-size: 50px;
}

/*.....Formation.....*/

#trait_bleu {
    border-bottom: 1px solid #1e78a2;
}
span {
    color: #1e78a2;
}

/*.....Cercle de Progression.....*/
.circle{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.circle:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.circle > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.circle .circle-left{
    left: 0;
}
.circle .circle-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.circle .circle-left .circle-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.circle .circle-right{
    right: 0;
}
.circle .circle-right .circle-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 0.5s linear forwards;
}
.circle .circle-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #44484b;
    font-size: 24px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.circle.blue .circle-bar{
    border-color: #007BFF;
}
.circle.blue .circle-left .circle-bar{
    animation: loading-2 0.5s linear forwards 0.5s;
}



.circle-bar{
    border-color: #1abc9c;
}

@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .circle{ margin-bottom: 20px; }
}


/*.....Compétences, langue et loisirs.....*/
.fa-circle {
    font-size: x-small;
}

/*.....Réalisations.....*/
#section4 {
    background: #1b70b6;
}

/*.....Contact.....*/
.fa-location-arrow, .fa-envelope, .fa-phone-alt {
    font-size: large;
}


/*MEDIA QUERIES..........MEDIA QUERIES..........MEDIA QUERIES..........MEDIA QUERIES..........MEDIA QUERIES.....MEDIA QUERIES*/


@media screen and (min-width: 1200px)/*.XL.*/ {

    #small_identity {
        display: none;
    }
    #identity {
        border-bottom: 5px solid #1e78a2;
        top: 20px;
    }
    #bgblue {
        background: #1e78a2;
    }
    #linkedin {
        width: 15%;
    }
    #twitter {
        width: 15%;
    }
    #gitlab {
        width: 16%;
    }
    #grande_nav {
        padding-top: 175px;
        padding-bottom: 175px;
    }
    li {
        list-style-type: none;
        border-bottom: 1px solid #1e78a2;
    }
    a {
        color: black;
    }
    #section3 {
        margin-top: -385px;
    }

}
@media screen and (max-width: 768px)/*.XS.*/ {

    #identity {
        display: none;
    }
    h2 {
        margin-top: 15px;
    }

}